<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport"="width=device-width, initial-scale=1.0">
  <title>Doctor | {{name}}</title>
  <link rel="stylesheet" href="/styles/output.css">
  <link rel="icon" href="/image/cardio-care logo-modified.png">
  <!-- <script src="https://cdn.tailwindcss.com"></script> -->
</head>

<body class="flex flex-col justify-between h-screen">
  <header>
    <div class="flex items-center justify-between shadow-md px-4 py-2 bg-white">
      <div class="flex items-center">
        <img src="/image/cclogo.png" alt="Logo" class="h-12 w-12">
        <span class="text-red-800 font-semibold text-2xl ml-1">Cardio Care</span>
      </div>

      <div class="flex items-center">
        <a class=" border-2 hover:shadow-sm hover:bg-gray-50 rounded-md text-slate-800 font-semibold px-2 py-2 text-center mr-5 flex flex-row"
          href="/patient/logout">
          <img src="/image/door.svg" alt="" class="w-6 h-6 mr-1">
          <p>Logout</p>
        </a>
        <img src="/image/royal.png" alt="Profile Image" class="rounded-full h-12 w-12 mr-2 object-cover">
        <div>
          <p class="text-gray-800 font-bold">Royal Hospital</p>
          <div class="flex items-center">
            <span class="text-black font-bold"> <i class="fa-solid fa-user"></i> ph647745</span>
          </div>
        </div>
      </div>
    </div>

    <div class="bg-white flex gap-2 shadow-inner justify-around items-center w-7/12 mx-auto">
      <div class="w-full shadow-md">
        <div class="h-10 px-4 items-center gap-2.5 flex justify-center">
          <img class=" w-3.5 h-[14px] left-[-0px] top-[0.75px]" src="/image/dashboard icon.png" />
          <p class="Title  text-sm font-normal">Dashboard</p>
        </div>
      </div>

      <a href="/doctor/patients" class="shadow-md hover:shadow-lg w-full">
        <div class="h-10 px-4 gap-2.5 flex items-center justify-center">
          <img class="w-3.5 h-[14px]  " src="/image/list icon.png" />
          <p class="Title text-black text-opacity-90 text-sm font-normal">Patients List</p>
        </div>
      </a>
    </div>
  </header>

  <main class="flex justify-evenly items-center">
    <div class="maincontent mt-6 ml-0 space-y-6">
      <div
        class="DocDetails p-2.5  bg-neutral-50 rounded-[10px] shadow-md justify-start items-center gap-[37px] inline-flex">
        <div class=" flex-col justify-start items-start gap-4 inline-flex">
          <p class=" text-black text-xl font-normal ">Dr. {{name}}</p>
          <p class=""><span class="text-black text-sm font-bold  ">ID</span><span
              class="text-black text-sm font-normal  ">: {{id}}</span></p>
          <p class=""><span class="text-black text-sm font-bold  ">Expertise</span><span
              class="text-black text-sm font-normal  ">: {{expertise}}</span></p>
          <p class=""><span class="text-black text-sm font-bold  ">Work phone</span><span
              class="text-black text-sm font-normal  ">: {{phone}}</span></p>
          <p class=""><span class="text-black text-sm font-bold  ">Email</span><span
              class="text-black text-sm font-normal  ">: {{email}}</span></p>
        </div>
        <img class=" w-[215.01px] h-[215.04px]" src="{{image}}" />
      </div>
    </div>

    <div class="flex flex-col mr-4">
      <div class="justify-center items-center gap-2.5 flex-col">
        <div class="px-3 py-4 bg-red-500 rounded-tl-2xl rounded-tr-2xl justify-center items-center gap-2.5 flex">
          <p class="text-white text-[22px] font-bold  leading-relaxed">Upcoming Appointments</p>
        </div>

        {{!-- appointments container --}}
        <div class="flex-col justify-start items-center inline-flex mb-4 w-full" id="upcomingAppointments">

          {{!-- <div
            class="  pl-5 pr-[18px] py-3.5 bg-stone-100 shadow justify-start items-center gap-[9px] inline-flex">
            <div class="">Jan 1, 2024 <span class="text-black text-opacity-75 text-[13px] font-normal">at</span> 9:00
              A.M </span><span class="text-black text-opacity-70 text-[13px] font-normal ">With</span> </span></div>
            <div class=" w-[109px] h-[38px] text-black text-[13px] font-normal ">Martin Erno Vinny<br />ID: PAT-1234
            </div>
          </div> --}}

        </div>

      </div>
    </div>
  </main>

  <footer class="bg-red-900 w-full py-1 mt-2 flex justify-center items-center">
    <p class="text-sm md:text-md text-center text-white">Copyright &copy; Cardio Care</p>
  </footer>

  <script src="/scripts/doctor/doctorDashboard.js"></script>


</body>

</html>